<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>My Landing Page</title>
<link rel="stylesheet" href="style.css"> 
</head>
<body>

     <header> 
            <h1>Welcome to Maincrafts Technology</h1> 
             <p>Java Full Stack Internship</p> 
     </header>
     <section class="contact"> 
     <h2>Contact Form</h2> 
      <!-- IMPORTANT: action points to backend --> 
      <form action="/contact" method="post"> 
      <input type="text" name="name" placeholder="Your Name" required> 
      <input type="email" name="email" placeholder="Your Email" required>
      <textarea name="message" placeholder="Your Message" required></textarea> 
      <button type="submit">Send</button> 
     </form> 
     </section>
 </body>
</html>